/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--backgroudcolor-primianry: #0c1829;
	--backgroudcolor-box: #13243C;
	--color-primary: #04fcfa;
	--color-title: #ffffff;
	--color-body-text: #9293B9;
	--backgroudcolor-stroke: #2b3953;
	--color-on-surface: #000;
}
