/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Manrope', sans-serif;
}

#home-page {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--backgroudcolor-primianry);

	.tile {
		padding: 0px 24px 0px 24px;
		width: 343px;
		height: 486px;
		display: flex;
		gap: 20px;
		flex-direction: column;
		background-color: var(--backgroudcolor-box);
		background-image: url('/public/images/frame1000003598.jpg');
		background-repeat: no-repeat;
		background-position-x: -40px;
		border-radius: 20px;

		.tile-top {
			width: 100%;
			height: 410px;
			display: flex;
			flex-direction: column-reverse;
			padding-bottom: 24px;
			.value-data {
				height: 26px;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				// background-color: #11a62c55;
				gap: 84px;

				.value-data-quantity {
					display: flex;
					justify-content: start;
					align-items: center;
					height: 100%;
					gap: 10px;

					.value-data-quantity-ico {
						height: 20px;
						width: 20px;
						background-image: url('/public/images/diamonds.png');
						background-position: center;
						background-size: contain;
					}

					.value-data-quantity-amount {
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 160%;
            letter-spacing: -0.01em;
						color: var(--color-primary);
					}
				}
				.value-data-time {
					height: 22px;
					// width: 30px;
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;
					gap: 10px;
					// background-color: red;
					.value-data-time-ico {
						height: 20px;
						width: 20px;
						background-image: url('/public/images/clock.png');
						background-position: center;
						background-size: contain;
					}
					.value-data-time-term {
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 160%;
            letter-spacing: -0.01em;
						color: var(--color-body-text);
					}
				}
			}
			// .squere2{
			//   height: 100px;
			//   width: 100px;
			//   background-color: red;
			// }
		}

		// .author {
		// 	height: 40px;
		// 	width: 100%;
		// 	display: flex;
		// 	align-items: center;
		//   gap: 16px;
		// 	// background-color: #fff;
		// 	.author-img {
		// 		width: 40px;
		// 		height: 40px;
		// 		background-image: url('/public/images/Frame1000003602.png');
		// 		background-position: center;
		// 		background-size: contain;
		// 	}

		//   .author-name{
		//     color: var(--color-body-text);
		//     font-size: 14px;
		//     font-weight: 500;
		//     line-height: 160%;
		//     // letter-spacing: -0.1px;
		//     letter-spacing: -1%;

		//     span{
		//       color: var(--color-title)
		//     }
		//   }
		// }
		.vector {
			height: 1px;
			width: 100%;
			background-color: var(--backgroudcolor-stroke);
		}

		// .value-data{
		//   height: 26px;
		//   width: 106px;
		//   display: flex;
		//   flex-direction: row;
		//   align-items: center;
		//   justify-content: center;
		//   // background-color: #fff;

		//   .value-data-quantity{
		//     width: 100%;
		//     height: 100%;
		//     display: flex;
		//     gap: 10px;
		//     color: var(--color-primary);

		//     .value-data-icon{
		//       width: 20px;
		//       height: 20px;
		//       background-image: url('/public/images/diamonds.png');
		//       background-position: center;
		//       background-size: contain;
		//       // background-color: red;
		//     }
		//   }
		// }
	}
}

// p {
// 	color: var(--color-on-surface);
// }
