/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Manrope', sans-serif;
}

#home-page {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--backgroudcolor-primianry);

	.tile-base {
		position: relative;
		width: 343px;
		height: 486px;
		background-color: var(--backgroudcolor-box);
		background-image: url('/public/images/frame1000003598.jpg');
		background-repeat: no-repeat;
		border-radius: 20px;
		
		.tile {
			position: absolute;
			padding: 20px 24px;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: translate(-50, -50);
			display: flex;
			flex-direction: column;
			justify-content: end;
			align-content: end;
			border-radius: 20px;
			z-index: 2;

			h1 {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 33px;
				color: var(--color-title);
			}

			.discription {
				// margin-top: 10px;
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 160%;
				letter-spacing: -0.01em;
				color: var(--color-body-text);
			}

			.value-data {
				margin-top: 22px;
				margin-bottom: 10px;
				height: 26px;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				&__quantity {
					display: flex;
					justify-content: start;
					align-items: center;
					height: 100%;
					gap: 10px;

					&--ico {
						height: 20px;
						width: 20px;
						background-image: url('/public/images/diamonds.png');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}

					&--amount {
						// margin: 0;
						text-align: center;
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 160%;
						letter-spacing: -0.01em;
						color: var(--color-primary);
					}
				}

				&__time {
					margin-right: 9px;
					height: 22px;
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;
					gap: 10px;

					&--ico {
						height: 20px;
						width: 20px;
						background-image: url('/public/images/clock.png');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}

					&--term {
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 160%;
						letter-spacing: -0.01em;
						color: var(--color-body-text);
					}
				}
			}
			.stroke {
				margin-top: 10px;
				height: 1px;
				background-color: var(--backgroudcolor-stroke);
			}
			.tile-bottom {
				margin-top: 20px;
				height: 40px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: start;
				align-content: end;
				gap: 16px;
				.author-img {
					width: 40px;
					height: 40px;
					background-image: url('/public/images/Frame1000003602.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}

				.author-name {
					color: var(--color-body-text);
					font-size: 14px;
					font-weight: 500;
					line-height: 160%;
					letter-spacing: -1%;

					span {
						color: var(--color-title);
					}
				}
			}
		}
	}
	.tile-base::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 410px;
		top: 0;
		left: 0;
		transform: translate(-50, -50);
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background: linear-gradient(
			180deg,
			rgba(19, 36, 59, 0) 0%,
			rgba(19, 36, 59, 0.74) 61.98%,
			#13243b 100%
		);
		z-index: 1;
	}
}

@media (min-width: 1200px) {}
